
.btn{
    border: 1px solid #ecf1ea;
    background: #0d910d;
    padding:10px 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin:10px;
    transition:0.8s;
}
.btn1,.btn2{
    color: #dee4de;
}
.btn3,.btn4{
    color:#fff;
}
.btn1:hover, .btn2:hover{
    color:#0d910d;
}
.btn3:hover, .btn4:hover{
    color:#0d910d;
}
.btn5:hover{
    color:#dee9de;
}




