.container{
    max-width: 1170px;
    margin:auto;
    
}
.row{
    display:flex;
    flex-wrap: wrap;
    color:rgb(128, 0, 32);
}
ul{
    list-style: none;
}
.footer-col{
    width:25%;
    padding:0 15px;
}
.footer-col ul{
    color:rgb(4, 83, 11);
}
.footer-col li a{
    color:rgb(112, 16, 56);
}
@media(max-width: 767px){
 .footer-col{
     width:50%;
     margin-bottom: 30px;
 }
}
@media(max-width: 574px){
    .footer-col{
        width:100%;
    }
   }